<section id='release' style='background: {{data.background}};color:{{data.color}};'>
  <div class='container'>
    <p class='release-release'>{{data.release}}</p>
    <p class='release-artist'>{{data.artits}}</p>
    <p class='release-work'>{{data.work}}</p>

    <div class='release-iframe'>
      {{{data.iframe}}}
    </div>

    <div class='release-body'>
      {{{data.body}}}
    </div>

    <div class='release-gallery' style='display: flex; flex-wrap:wrap;'>
      {{#each data.gallery}}
        <div style='width: {{width}};padding:10px;box-sizing:border-box;'>
          <img src='{{src}}' width='100%' />
        </div>
      {{/each}}
    </div>

  </div>

  <style>
    .release-gallery img{cursor:pointer;} .release-work{ background: -webkit-linear-gradient({{data.color}},
    #333); -webkit-background-clip: text; -webkit-text-fill-color: transparent; } .zoom-gallery{
    align-items: center;justify-content: center; position:fixed; top:0; left:0; width:100%;
    height:100%; z-index:999999999999999; display:none; background-image: radial-gradient(circle,
    #686868, #4e4e4e, #353535, #1d1d1d, #000000);} .zoom-gallery img{ height: 90vh; }
  </style>

</section>

<div class='zoom-gallery'>
  <img src='' />
</div>